<div class="bg-light">
    <div class="container py-2">
        <div class="row">
            <div class="col-12">
                <h2 id="search">Search result: ({{lstPostsSearch.length}})</h2>
                <span class="h4">Key: "{{key}}"</span>
            </div>
            <div class="col-12">
                <div class="input-group">
                    <input type="text" [(ngModel)]="sortKey" name="key" class="form-control" placeholder="Enter key search">
                    <div class="input-group-append">
                        <select class="form-control select-fontawesome" [(ngModel)]="sl_sort" name="sl_sort">
              <option value="0">All</option>
              <option value="1">Date &#xf175;</option>
              <option value="2">Date &#xf176;</option>
              <option value="3">Category Name &#xf175;</option>
              <option value="4">Category Name &#xf176;</option>
            </select>
                        <button class="btn btn-outline-secondary" (click)="Sort(1)" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row sort-checkbox-search">
                    <div class="col-4">
                        <div class="custom-control custom-checkbox" (click)="sortAuthor=!sortAuthor">
                            <input type="checkbox" [(ngModel)]="sortAuthor" name="author" class="custom-control-input">
                            <label class="custom-control-label">Author</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-checkbox" (click)="sortTitle=!sortTitle">
                            <input type="checkbox" [(ngModel)]="sortTitle" name="title" class="custom-control-input">
                            <label class="custom-control-label">Title</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-checkbox" (click)="sortContent=!sortContent">
                            <input type="checkbox" [(ngModel)]="sortContent" name="content" class="custom-control-input">
                            <label class="custom-control-label">Content</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-white">
    <div class="container">
        <div class="row">

            <div *ngFor="let row of lstPostsSearch" class="col-lg-4 col-sm-6 mb-4">
                <div class="entry2">
                    <a [routerLink]="['/Detail',row.id]"><img src="{{row.pathThumbnail}}" alt="{{row.postTitle}}" class="img-fluid rounded img-category"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-success mb-3">{{row.subCategories.subCateName}}</span>

                        <h2><a [routerLink]="['/Detail',row.id]">{{row.postTitle}}</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span class="d-inline-block mt-1">By <a href="#">{{row.userNameCreate}}</a></span>
                            <span>&nbsp;-&nbsp; {{row.dateCreate | date:'short'}}</span>
                        </div>

                        <p>{{row.summaryContent}}</p>
                        <p><a [routerLink]="['/Detail',row.id]">Read More</a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row text-center pt-5 border-top">
            <div class="col-md-12">
                <ul class="pagination justify-content-center">
                    <div *ngIf="1===currentPage; then thenPrev else elsePrev"></div>
                    <ng-template #thenPrev>
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1">Previous</a>
                        </li>
                    </ng-template>
                    <ng-template #elsePrev>
                        <li class="page-item">
                            <a pageScroll class="page-link" (click)="checkSort?Sort(currentPage- 1):loadNewPage(currentPage- 1)" tabindex="-1">Previous</a>
                        </li>
                    </ng-template>

                    <ng-container *ngFor="let row of [].constructor(totalPage); let i = index">
                        <div *ngIf="(i+1)===currentPage; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <li class="page-item active">
                                <a class="page-link">{{i+1}} <span class="sr-only">(current)</span></a>
                            </li>
                        </ng-template>
                        <ng-template #elseBlock>
                            <li pageScroll class="page-item"><a (click)="checkSort?Sort(i+1):loadNewPage(i+1)" class=" page-link">{{i+1}}</a></li>
                        </ng-template>
                    </ng-container>

                    <div *ngIf="totalPage===currentPage; then thenNext else elseNext"></div>
                    <ng-template #thenNext>
                        <li class="page-item disabled">
                            <a class="page-link">Next</a>
                        </li>
                    </ng-template>
                    <ng-template #elseNext>
                        <li class="page-item">
                            <a pageScroll class="page-link" (click)="checkSort?Sort(totalPage):loadNewPage(currentPage+1)" tabindex="-1">Next</a>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Modal loading-->
<div class="modal fade" bsModal #modalLoading="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center py-5">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>